/code-gallery
/examples

# Hidden files
.*

# Build files
build
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# Backup files
*~
*.swp
_*

# Results files
*.vtk
*.vtu
*.ptvu
*.pvd
log*
callgrind*

# Meshes
*.msh

# Graphics
*.pdf
*.eps
*.png
*.jpg
*.svg

# Movies
*.avi
*.mp4
